{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>About</h2>
        <p>A La Cart is a web-based app with the goal of making the tasks of meal planning and grocery shopping as
            frictionless as possible. We curate recipes and meal plans based on our customers cravings and
            preferences, but then actually help to create a list of those foods on their way to the store.
            We also help you navigate the supermarket and restaurants and find the best groceries and meals for the best price.
            Alternatively, we can also assist in connecting them with food delivery services such as Instacart or Ubereats.</p>

</div>

{% endblock %}