{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="text-center text-white d-flex masthead" style="height: 100%;background: url({% static 'img/bg.jpg' %}) no-repeat;background-size: cover;">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>A LA cart</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Healthy personalized meal plans</p><a class="btn btn-primary btn-xl" role="button" href="{% url 'register' %}">Create an account</a>
            </div>
        </div>
    </header>
{% endblock %}
