{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}" alt="logo">
    </a>
    <h1>A La Cart</h1>
    <p>A La Cart is a simple way to find the ingredients you need for your diet.</p>
    <a type="button" class="btn btn-lg btn-default" href="{% url 'about' %}"><span class="glyphicon glyphicon-flash"></span>Learn More</a>
    <a type="button" class="btn btn-lg btn-primary" href="{% url 'register' %}"><span class="glyphicon glyphicon-download"></span>Create Account</a>
  </div>
</div>
{% endblock %}
